/* The sidebar menu */
.sidenav {
    /* secondary navigation for side bar to link to things enternally */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(91, 119, 91);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    /* secondary navigation for side bar to link to things enternally */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }

nav{
    /* for primary navigation to link to other pages  */
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(91, 119, 91);
    padding: 50px;
}
button { 
    /* to make blend in  */
    background-color: rgb(91, 119, 91);
    border: none;
    color: white;
}

.discription{
    /* for comic discription at top of the page  */
    background-color: aqua;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}

h1{
    /* title of comics */
    text-align: center;
}
.hearing{
    /* actual comic hearing */
    background-color: aqua;
    text-align: center;
    padding-bottom: 50px;
    margin: 10px;
}
.fired{
    /* actula comic fired  */
    background-color: rgb(237, 159, 237);
    text-align: center;
    padding-bottom: 50px;
    margin: 10px;
}
.birthday{
    /* actual comic birthday */
    background-color: yellow;
    text-align: center;
    padding-bottom: 50px;
    margin: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(91, 119, 91);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    }

    footer img{
        margin-right: 5px;
        height: 25px;
        width: 25px;
    }