

nav{
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(91, 119, 91);
    padding: 50px;
}
button {
    background-color: rgb(91, 119, 91);
    border: none;
    color: white;
}

.discription{
    background-color: aqua;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}
.lils{
    height: 190px;
    float: right;
    background-color: aqua;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}
.comic{
    text-align: center;
    background-color: rgb(237, 159, 237);
    margin: 0px;
    margin-top: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(91, 119, 91);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    }

    footer img{
        margin-right: 5px;
        height: 25px;
        width: 25px;
    }
    
